body{
    margin: 0;
    background-color: #AB88FF;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #AB88FF;
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    margin: 0px 0px 0px -14px;
    text-align: right;
}
.header__menu--profile{
  margin-right: 8px;
  width: 40px;
}

